name: links_hinten

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches:
      - "main"
jobs:
  build-worker:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo code
      uses: actions/checkout@v3
    - name: npm install
      run: npm install
    - name: format check
      run: npm run format:check
    - name: lint
      run: npm run lint
    - name: build
      run: npm run build
    - name: test
      run: npm test